In [2]:
def generate_report(main_tank, external_tank, hydrogen_tank):
  output = f"""Fuel Report:
  Main Tank: {main_tank}
  External Tank: {external_tank}
  Hydrogen Tank: {hydrogen_tank}
  """
  print(output)

In [3]:
generate_report(80, 70, 75)

Fuel Report:
  Main Tank: 80
  External Tank: 70
  Hydrogen Tank: 75

In [6]:
from datetime import timedelta, datetime

def arrival_time(hours=51):
  now = datetime.now()
  arrival = now + timedelta(hours=hours)
  return arrival.strftime("Arrival: %A %H:%M")

arrival_time()

'Arrival: Friday 22:35'

In [11]:
from datetime import timedelta, datetime

def arrival_time(destination, hours=51):
  now = datetime.now()
  arrival = now + timedelta(hours=hours)
  return arrival.strftime(f"{destination} Arrival: %A %H:%M")

arrival_time('Moon')

'Moon Arrival: Friday 22:47'

In [15]:
def variable_length(*args):
  print(args)

variable_length("one", "two")

print(variable_length)

('one', 'two')
<function variable_length at 0x7f7cd6f02040>

In [19]:
def sequence_time(*args):
    total_minutes = sum(args)
    if total_minutes < 60:
        return f"Total time to launch is {total_minutes} minutes"
    else:
        return f"Total time to launch is {total_minutes/60} hours"

sequence_time(4, 14, 18)
sequence_time(4, 14, 48)

'Total time to launch is 1.1 hours'

In [20]:
def variable_length(**kwargs):
    print(kwargs)

In [24]:
variable_length(tanks=1, day="Wednesday", pilots=3)
{'tanks': 1, 'day': 'Wednesday', 'pilots': 3}

{'tanks': 1, 'day': 'Wednesday', 'pilots': 3}

{'tanks': 1, 'day': 'Wednesday', 'pilots': 3}

In [27]:
def crew_members(**kwargs):
    print(f"{len(kwargs)} astronauts assigned for this mission:")
    for title, name in kwargs.items():
        print(f"{title}: {name}")

In [28]:
crew_members(captain="Neil Armstrong", pilot="Buzz Aldrin", command_pilot="Michael Collins")

3 astronauts assigned for this mission:
captain: Neil Armstrong
pilot: Buzz Aldrin
command_pilot: Michael Collins